@use "./var.scss" as var;
@use "sass-runtime-tool/all.scss" as *;

:root {
  font-synthesis: none;
  font-family: PingFangSC, PingFang SC;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

html {
  --color-primary: #{var.$primary};
  --color-primary-hover: #{toLighten(var.$primary, 20%)};
  --color-primary-active: #{toDarken(var.$primary, 20%)};

  --color-text: #{var.$text};
  --color-info: #{var.$info};
  --color-border: #{var.$border};
}

body {
  margin: 0;
}

:where(a) {
  text-decoration: none;
  color: inherit;
}

:where(a, button, select) {
  cursor: pointer;
  font-size: inherit;
  font-family: inherit;
}

:where(ul) {
  padding-left: 0;
  margin: 0;

  li {
    list-style: none;
  }
}

* {
  box-sizing: border-box;
}

:where(h1, h2, h3, h4, h5, h6, p) {
  margin: 0;
  line-height: 1;
}

@media (hover: none) {
  :root {
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  }
}

.hide-scroll {
  @include hide-scroll;
}
